# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [61]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [62]:
# your code here
data = pd.read_csv('/Users/migue/OneDrive/Ambiente de Trabalho/Week 2 - Advanced Pandas/lab-advanced-pandas/your-code/data/Admission_Predict.csv')
data

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [63]:
# your code here
data.columns = data.columns.str.replace(' ', '')

Let's evaluate the dataset by looking at the `head` function.

In [64]:
# your code here
data.head()

,SerialNo.,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [65]:
# your code here
data.isnull().sum()

SerialNo.           0
GREScore            0
TOEFLScore          0
UniversityRating    0
SOP                 0
LOR                 0
CGPA                0
Research            0
ChanceofAdmit       0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [66]:
# your code here
data.set_index('SerialNo.')
data.columns = data.columns.get_level_values(0)
data.head()

,SerialNo.,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [67]:
# your code here
data.set_index(['GREScore', 'CGPA']).index.is_unique

# Because the answer is True, the index is indeed unique!

True

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [68]:
# your code here
data.set_index(['GREScore', 'CGPA'], inplace = True)
data.reset_index(inplace=True, level = ['GREScore', 'CGPA'])
data.head()

,GREScore,CGPA,SerialNo.,TOEFLScore,UniversityRating,SOP,LOR,Research,ChanceofAdmit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
1,316,8.00,2,104,3,3.0,3.5,1,0.72
2,322,8.67,3,110,3,3.5,2.5,1,0.80
3,314,8.21,4,103,2,2.0,3.0,0,0.65
4,330,9.34,5,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [69]:
# your code here
data.reset_index()
condition = (data['CGPA'] > 9) & (data['Research'] == 1)

data[condition]

,GREScore,CGPA,SerialNo.,TOEFLScore,UniversityRating,SOP,LOR,Research,ChanceofAdmit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
4,330,9.34,5,115,5,4.5,3.0,1,0.90
10,328,9.10,11,112,4,4.0,4.5,1,0.78
19,328,9.50,20,116,5,5.0,5.0,1,0.94
20,334,9.70,21,119,5,5.0,4.5,1,0.95
...,...,...,...,...,...,...,...,...,...
379,329,9.23,380,111,4,4.5,4.0,1,0.89
380,324,9.04,381,110,3,3.5,3.5,1,0.82
381,325,9.11,382,107,3,3.0,3.5,1,0.84
382,330,9.45,383,116,4,5.0,4.5,1,0.91
384,333,9.66,385,117,4,5.0,4.0,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [70]:
# your code here
# This wiil give me the condition
condition = (data['CGPA'] > 9) & (data['SOP'] < 3.5)

# This wiil give me a DataFrame only with the rows that satisfy the condition above
data[condition]

# This will give me the mean of the column that I want!
data[condition]['ChanceofAdmit'].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [75]:
def standardize(col):
    return (col - np.mean(col))/np.std(col)
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [81]:
# your code here
data['CGPA_std'] = standardize(data['CGPA'])
data['GRE_std'] = standardize(data['GREScore'])
data['LOR_std'] = standardize(data['LOR'])
data.head()

admissions = data[['CGPA_std', 'GRE_std', 'LOR_std']]
admissions.head()

   CGPA_std   GRE_std   LOR_std
0  1.750174  1.755663  1.193197
1 -0.992501 -0.063450  0.076840
2  0.121191  0.456297 -1.039517
3 -0.643433 -0.236698 -0.481338
4  1.234884  1.149292 -0.481338

We will generate the decision choice at random using the code below. Please run the cell.

In [78]:
# Libraries
from random import choices

In [84]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [87]:
# your code here
admissions['decision_value'] = admissions.lookup(admissions.index, decision_choice)
admissions

C:\Users\migue\AppData\Local\Temp/ipykernel_20792/2960481666.py:2: FutureWarning: The 'lookup' method is deprecated and will beremoved in a future version.You can use DataFrame.melt and DataFrame.locas a substitute.
  admissions['decision_value'] = admissions.lookup(admissions.index, decision_choice)
C:\Users\migue\AppData\Local\Temp/ipykernel_20792/2960481666.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  admissions['decision_value'] = admissions.lookup(admissions.index, decision_choice)

     CGPA_std   GRE_std   LOR_std  decision_value
0    1.750174  1.755663  1.193197        1.755663
1   -0.992501 -0.063450  0.076840       -0.063450
2    0.121191  0.456297 -1.039517        0.456297
3   -0.643433 -0.236698 -0.481338       -0.643433
4    1.234884  1.149292 -0.481338        1.234884
..        ...       ...       ...             ...
380  0.736216  0.629546  0.076840        0.629546
381  0.852571  0.716170  0.076840        0.076840
382  1.417729  1.149292  1.193197        1.149292
383  0.304036 -0.409947  0.635019        0.304036
384  1.766796  1.409165  0.635019        0.635019

[385 rows x 4 columns]

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [89]:
# your code here
def column_to_select(x):
    if x['deciding_column'] == 'CGPA_std':
        return x['CGPA_std']
    if x['deciding_column'] == 'GRE_std':
        return x['GRE_std']
    if x['deciding_column'] == 'LOR_std':
        return x['LOR_std']
    return NaN

admissions['decision'] = admissions.apply(column_to_select, axis = 1)

KeyError: 'deciding_column'

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [91]:
# your code here
admitted = admissions['decision'] > 0.8
admitted.sum()

KeyError: 'decision'

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [92]:
# your code here
admissions.columns = admissions.columns.str.strip().str.lower().str.replace(' ', '_')
admissions.columns

Index(['cgpa_std', 'gre_std', 'lor_std', 'decision_value'], dtype='object')

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [93]:
# your code here
adjusted_gre = pd.cut((data[data['UniversityRating'] >= 4]['GREScore'] + 10), bins = 4)
adjusted_gre

0      (337.5, 350.0]
4      (337.5, 350.0]
9      (325.0, 337.5]
10     (337.5, 350.0]
18     (325.0, 337.5]
            ...
370    (337.5, 350.0]
377    (325.0, 337.5]
379    (337.5, 350.0]
382    (337.5, 350.0]
384    (337.5, 350.0]
Name: GREScore, Length: 126, dtype: category
Categories (4, interval[float64, right]): [(299.95, 312.5] < (312.5, 325.0] < (325.0, 337.5] < (337.5, 350.0]]